input {
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    outline: none;
  }

  h3{
      display: inline;
  }

  .names {
      display: flex;
  }
  div {
      margin-right: 1rem;
  }
  
  #Address {
      width: 22rem;
  }
  h4 {
      margin-bottom: 2px;
  }
  h2 {
    background-color: red;  
    margin: auto;
    text-align: center;
    color: white;
  }

  .outer {
      border: solid 2px black;
      margin: auto;
      width: 35%;
      padding: 10px;
  }